{% extends "base.html" %}

{% block title %}
The Monitor - The Third Eye.
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1> The Monitor </h1>
            <p> The Monitor is an app to help you determine operational logistics of Zenoss Resource Manager. The app mainly serves as a central place for logistic information retrieval, and is primarily created to target code...not people.</p>
            <p> The Monitor is in active development, over time more functionality and the scope of the project will grow. </p>
            <p> The Monitor ReST API documentation can be found <a href="here">here</a>. </p>
        </header>
    </article>
{% endblock %}

{% block footer %}
The Monitor - The Third eye
{% endblock %}